<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org" lang="en"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="fragments-admin::page_head('Admin page')">
<script></script>
</head>

<style>
.user-menu {
	display: none;
}

.user-menu.active {
	display: block;
}

.nav-link:hover {
	background-color: #cccccc;
}
</style>

<body>
	<aside id="left-panel" class="left-panel">
		<nav class="navbar navbar-expand-sm navbar-default">
			<div class="navbar-header">
				<button class="navbar-toggler" type="button" data-toggle="collapse"
					data-target="#main-menu" aria-controls="main-menu"
					aria-expanded="false" aria-label="Toggle navigation">
					<i class="fa fa-bars"></i>
				</button>
				<a class="navbar-brand text-white" style="background-color: #272c33"
					href="./"><img th:src="@{/images/logots.png}" alt="Logo"></a>
				<a class="navbar-brand hidden" href="./"><img
					th:src="@{/images/logots.png}" alt="Logo"></a>
			</div>

			<div id="main-menu" class="main-menu collapse navbar-collapse">
				<ul class="nav navbar-nav">

					<!-- ✅ Trang chủ -->
					<li class="active"><a th:href="@{/}"> <i
							class="menu-icon fas fa-home"></i>Trang chủ
					</a></li>


					<!-- ✅ Quản lý sản phẩm (chỉ ADMIN) -->
					<li class="menu-item-has-children dropdown"
						sec:authorize="hasRole('ADMIN')"><a href="#"
						class="dropdown-toggle" data-toggle="dropdown"
						aria-haspopup="true" aria-expanded="false"> <i
							class="menu-icon fa fa-laptop"></i>Quản lý sản phẩm
					</a>
						<ul class="sub-menu children dropdown-menu">
							<li><a th:href="@{/admin/product-all}"><i
									class="fas fa-tshirt"></i>Sản phẩm</a></li>
							<li><a th:href="@{/admin/topping-management}"><i
									class="fas fa-plus-circle"></i>Topping</a></li>
							<li><a th:href="@{/admin/color-list}"><i
									class="fas fa-palette"></i>Thể tích đường</a></li>
							<li><a th:href="@{/admin/size-all}"><i
									class="fas fa-ruler"></i>Size</a></li>
							<li><a th:href="@{/admin/brand-all}"><i
									class="far fa-copyright"></i>Nhãn hàng</a></li>
							<li><a th:href="@{/admin/category-all}"><i
									class="fas fa-cubes"></i>Loại sản phẩm</a></li>
							<li><a th:href="@{/admin/material-all}"><i
									class="fab fa-cotton-bureau"></i>Loại trà</a></li>
						</ul></li>



					<!-- ✅ Công cụ khuyến mãi (chỉ ADMIN mới thấy) -->
					<li class="menu-item-has-children dropdown"
						sec:authorize="hasRole('ADMIN')"><a href="#"
						class="dropdown-toggle" data-toggle="dropdown"
						aria-haspopup="true" aria-expanded="false"> <i
							class="menu-icon fa fa-american-sign-language-interpreting"></i>
							Công cụ khuyến mãi
					</a>
						<ul class="sub-menu children dropdown-menu">
							<li><a th:href="@{/admin-only/discount-code}"> <i
									class="fa fa-hand-peace-o"></i>Mã giảm giá
							</a></li>
							<li><a th:href="@{/admin-only/product-discount}"> <i
									class="fas fa-tag"></i>Giảm giá sản phẩm
							</a></li>
						</ul></li>

					<!-- ✅ Thống kê -->
					<li class="menu-item-has-children dropdown"
						sec:authorize="hasRole('ADMIN')"><a href="#"
						class="dropdown-toggle" data-toggle="dropdown"
						aria-haspopup="true" aria-expanded="false"> <i
							class="menu-icon fas fa-project-diagram"></i>Thống kê
					</a>
						<ul class="sub-menu children dropdown-menu">
							<li><a th:href="@{/admin/thong-ke-doanh-thu}"> <i
									class="fas fa-chart-line"></i>Doanh thu (Hệ thống)
							</a></li>
							<li><a th:href="@{/admin/thong-ke-san-pham}"> <i
									class="fas fa-chart-pie"></i>Sản phẩm
							</a></li>
						</ul></li>

					<!-- ✅ Quản lý tài khoản (chỉ ADMIN mới thấy) -->
					<li class="menu-item-has-children dropdown"
						sec:authorize="hasRole('ADMIN')"><a href="#"
						class="dropdown-toggle" data-toggle="dropdown"
						aria-haspopup="true" aria-expanded="false"> <i
							class="menu-icon fas fa-user"></i>Quản lý tài khoản
					</a>
						<ul class="sub-menu children dropdown-menu">
							<li><a th:href="@{/admin-only/account-management}"> <i
									class="fas fa-users-cog"></i>Tài khoản
							</a></li>
						</ul></li>


					<!-- ✅ Công cụ khác -->
					<li class="menu-title">Công cụ khác</li>
					<!-- 💬 Chat hỗ trợ khách hàng (chỉ ADMIN thấy) -->
					<li sec:authorize="hasRole('ADMIN')"><a
						th:href="@{/admin/chat}"> <i class="menu-icon fa fa-comments"></i>
							💬 Chat hỗ trợ khách hàng
					</a></li>

					<li><a th:href="@{/profile}"><i
							class="menu-icon fa fa-paper-plane"></i>Cập nhật thông tin</a></li>
					<li><a th:href="@{/user_logout}"><i
							class="menu-icon fa fa-sign-out"></i>Đăng xuất</a></li>

				</ul>
			</div>
		</nav>
	</aside>

	<!-- Nội dung bên phải -->
	<div id="right-panel" class="right-panel">
		<header id="header" class="header">
			<div class="col-sm-7">
				<a id="menuToggle" class="menutoggle pull-left"> <i
					class="fa fa fa-tasks"></i>
				</a>
			</div>
			<div class="col-sm-5">
				<div class="user-area dropdown float-right">
					<span sec:authentication="principal.username"></span> <a href="#"
						class="dropdown-toggle" data-toggle="dropdown"
						aria-haspopup="true" aria-expanded="false"> <img
						class="user-avatar rounded-circle"
						src="https://www.kkday.com/vi/blog/wp-content/uploads/chup-anh-dep-bang-dien-thoai-25.jpg"
						alt="User Avatar"
						style="border-radius: 50%; height: 34px; width: 34px;">
					</a>
					<div class="user-menu">
						<a class="nav-link" th:href="@{/}"> <i class="fa fa-user"></i>Trang
							khách
						</a> <a class="nav-link" th:href="@{/user_logout}"> <i
							class="fa fa-power-off"></i>Đăng xuất
						</a>
					</div>
				</div>
			</div>
		</header>

		<div class="content p-4">
			<div layout:fragment="content"></div>
		</div>
	</div>

	<th:block th:replace="fragments-admin::script"></th:block>
	<script>
		$('.user-avatar').on('click', function() {
			$('.user-menu').toggleClass('active');
		});
	</script>
</body>
</html>
