<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{user/layout-user.html}">
<head>
    <meta charset="UTF-8">

    <title>Giới thiệu</title>

<link rel="icon" type="image/png" th:href="@{/images/icons/favicon.png}" />
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" />
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	th:href="@{/fonts/font-awesome-4.7.0/css/font-awesome.min.css}" />
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	th:href="@{/fonts/iconic/css/material-design-iconic-font.min.css}" />
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	th:href="@{/fonts/linearicons-v1.0.0/icon-font.min.css}" />
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	th:href="@{/vendor/animate/animate.css}" />
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	th:href="@{/vendor/css-hamburgers/hamburgers.min.css}" />
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	th:href="@{/vendor/animsition/css/animsition.min.css}" />
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	th:href="@{/vendor/select2/select2.min.css}" />
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	th:href="@{/vendor/perfect-scrollbar/perfect-scrollbar.css}" />
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" th:href="@{/css/util.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/main.css}" />

</head>
<body>


    <div layout:fragment="content">

        <!-- Title page -->
        <section class="bg-img1 txt-center p-lr-15 p-tb-92" style="background-image: url('images/bn1.jpg');">
            <h2 class="ltext-105 cl0 txt-center">
                About
            </h2>
        </section>


        <section class="bg0 p-t-75 p-b-120">
			<div class="container">
				<div class="row p-b-148">
					<div class="col-md-7 col-lg-8">
						<div class="p-t-7 p-r-85 p-r-15-lg p-r-0-md">
							<h3 class="mtext-111 cl2 p-b-16 font-grotesk-black">Về
								AloTra</h3>
							<p class="stext-113 cl6 p-b-26">Chào mừng bạn đến với AloTra
								– nơi mỗi ly trà sữa là một câu chuyện về đam mê và sự tận tâm.
								Chúng tôi tin rằng một ly trà sữa ngon phải bắt đầu từ những
								nguyên liệu chất lượng nhất. Vì vậy, AloTra luôn cẩn thận chọn
								lọc từng lá trà hảo hạng và những hạt trân châu dai mềm, kết hợp
								cùng công thức pha chế độc đáo để tạo nên hương vị khó quên.</p>

							<p class="stext-113 cl6 p-b-26">Không chỉ là một nơi để
								thưởng thức đồ uống, AloTra mong muốn trở thành không gian quen
								thuộc để bạn thư giãn, gặp gỡ bạn bè và sẻ chia những khoảnh
								khắc ngọt ngào. Từ vị trà đậm đà đến lớp kem sữa béo ngậy, mỗi
								sản phẩm của chúng tôi đều được tạo ra để mang đến cho bạn một
								niềm vui nhỏ trong ngày.</p>

							<p class="stext-113 cl6 p-b-26">Ghé thăm chúng tôi tại 1 Võ
								Văn Ngân, Phường Thủ Đức, Thành phố Hồ Chí Minh.</p>


						</div>
					</div>

					<div class="col-11 col-md-5 col-lg-4 m-lr-auto">
						<div class="how-bor1 ">
							<div class="hov-img0">
								<img src="images/bn4.jpg" alt="Trà sữa">
							</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="order-md-2 col-md-7 col-lg-8 p-b-30">
						<div class="p-t-7 p-l-85 p-l-15-lg p-l-0-md">
							<h3 class="mtext-111 cl2 p-b-16 font-grotesk-black">Sứ mệnh của chúng tôi</h3>

							<p class="stext-113 cl6 p-b-26">Tại AloTra, chúng tôi tin
								rằng giá trị của một ly trà sữa không chỉ nằm ở hương vị, mà còn
								ở những câu chuyện nó tạo ra. Sứ mệnh của chúng tôi là trở thành
								cầu nối cho những cuộc gặp gỡ, những tiếng cười và những khoảnh
								khắc đáng nhớ. Mỗi sản phẩm được trao đến tay bạn là một lời mời
								gọi để kết nối, sẻ chia và cùng nhau tạo nên niềm vui.</p>

							<div class="bor16 p-l-29 p-b-9 m-t-22">
								<p class="stext-114 cl6 p-r-40 p-b-11">"Chúng tôi không chỉ
									pha trà, chúng tôi 'pha' nên những cuộc vui. AloTra mong muốn
									biến mỗi khoảnh khắc thưởng thức trà sữa của bạn thành một kỷ
									niệm ngọt ngào, một biểu tượng cho tình bạn và sự gắn kết."</p>

								<span class="stext-111 cl8"> - Nhà sáng lập
									AloTra </span>
							</div>

						</div>
					</div>
				</div>

				<div class="order-md-1 col-11 col-md-5 col-lg-4 m-lr-auto p-b-30">
					<div class="how-bor2">
						<div class="hov-img0">
							<img src="images/bn4.jpg" alt="IMG">
						</div>
					</div>
				</div>
			</div>
	
	</section>


        <!-- Back to top -->
        <div class="btn-back-to-top" id="myBtn">
		<span class="symbol-btn-back-to-top">
			<i class="zmdi zmdi-chevron-up"></i>
		</span>
        </div>
    </div>


<!--===============================================================================================-->
<script th:src="@{/vendor/jquery/jquery-3.2.1.min.js}"></script>
<!--===============================================================================================-->
<script th:src="@{/vendor/animsition/js/animsition.min.js}"></script>
<!--===============================================================================================-->
<script th:src="@{/vendor/bootstrap/js/popper.js}"></script>
<script th:src="@{/vendor/bootstrap/js/bootstrap.min.js}"></script>
<!--===============================================================================================-->
<script th:src="@{/vendor/select2/select2.min.js}"></script>
<script th:inline="javascript">
    $(document).ready(function () {
        $(".js-select2").each(function(){
            $(this).select2({
                minimumResultsForSearch: 20,
                dropdownParent: $(this).next('.dropDownSelect2')
            });
        });
    });
</script>
<!--===============================================================================================-->
<script th:src="@{/vendor/MagnificPopup/jquery.magnific-popup.min.js}"></script>
<!--===============================================================================================-->
<script th:src="@{/vendor/perfect-scrollbar/perfect-scrollbar.min.js}"></script>
<script th:inline="javascript">
    $(document).ready(function () {
        $('.js-pscroll').each(function(){
            $(this).css('position','relative');
            $(this).css('overflow','hidden');
            var ps = new PerfectScrollbar(this, {
                wheelSpeed: 1,
                scrollingThreshold: 1000,
                wheelPropagation: false,
            });

            $(window).on('resize', function(){
                ps.update();
            });
        });
    });
</script>
<!--===============================================================================================-->
<script th:src="@{/js/main.js}"></script>

</body>
</html>